@import '../../css/colors.css';

.PokemonCard {
  width: 470px;
  margin: 40px 10px;
}

.PokemonInfoContainer {
  display: flex;
}

.PokemonAvatar {
  height: 250px;
}

.PokemonName, .StatsHeader {
  font-size: 24px;
  margin: 0;
}

.PokemonName::first-letter {
  text-transform: uppercase;
}

.Table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
}

.Table dt {
  color: var(--secondaryText);
  justify-content: flex-end;
}

.Table dt, .Table dd {
  border-top: 1px solid var(--tableBorder);
  min-height: 40px;
  display: flex;
  align-items: center;
}

.Table dt:last-of-type, .Table dd:last-of-type {
  border-bottom: 1px solid var(--tableBorder);
}

.Table, .Table dt, .Table dd {
  margin: 0;
  padding: 5px 0px;
  box-sizing: border-box;
}

.Table dt {
  padding-right: 10px;
}

.PokemonSpecies {
  text-transform: capitalize;
}

.PokemonAbilities {
  text-transform: capitalize;
  flex-direction: column;
  align-items: start!important;
}

@media screen and (max-width: 480px) {
  .PokemonInfoContainer {
    align-items: center;
  }

  .PokemonAvatar {
    height: 150px;
  }

  .PokemonName, .StatsHeader {
    font-size: 16px;
  }

  .Table dt, .Table dd {
    font-size: 14px;
    min-height: 37px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .PokemonCard {
    width: 390px;
  }

  .PokemonInfoContainer {
    align-items: center;
  }

  .PokemonAvatar {
    height: 200px;
  }

  .PokemonName, .StatsHeader {
    font-size: 16px;
  }

  .Table dt, .Table dd {
    font-size: 14px;
    min-height: 37px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .PokemonCard {
    width: 360px;
  }

  .PokemonInfoContainer {
    align-items: center;
  }

  .PokemonAvatar {
    height: 150px;
  }

  .PokemonName, .StatsHeader {
    font-size: 16px;
  }

  .Table dt, .Table dd {
    font-size: 14px;
    min-height: 37px;
  }
}
